@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --primaryColor: #EF3B39;
  --secondaryColor: #231F20;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--primaryColor);
  --color-secondary: var(--secondaryColor);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --font-iceland:var(--font-iceland);
  --font-roboto:var(--font-roboto);
  --font-atomic:var(--font-atomic-age);
  --container-width: 1280px;
  --container-padding: 1rem;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}


/* Create the container class */
.container {
  margin-inline: auto;
  padding-inline: var(--container-padding);
  max-width: var(--container-width);
}
